* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:rgb(255, 255, 255);
    background-color: rgb(14, 14, 49);
}

header {
    background-color:rgb(88, 114, 163);
    padding: 2%;
}


nav {
    float: right;
}

nav ul {
    list-style: none;
     background-color:rgb(88, 114, 163);
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


main {
    padding: 2rem;
}
#hero {
        position: relative;
        background-image: url(Captura\ de\ pantalla\ 2024-12-03\ 182125.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(255, 255, 255); 
    }
    


#featured-work {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-item {
    float: left;
    width: 33.33%;
    padding: 1rem;
}

.work-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color:rgb(88, 114, 163);
    color: rgb(36, 25, 81);
    text-align: center;
    padding: 1%;
    clear: both;
    font-size: 12px;
    
}

/* Media Queries */

/* iPhone 12 Vertical */
@media only screen and (max-width: 390px) {
    header h1 {
        float: none;
        text-align: center;
    }
    nav {
        float: none;
        text-align: center;
        margin-top: 1rem;
    }
    .work-item {
        width: 100%;
    }
    #hero {
        height: 30vh;
    }
    #hero h2 {
        font-size: 1.5rem;
    }
}

/* iPhone 12 Horizontal */
@media only screen and (min-width: 391px) and (max-width: 844px) {
    .work-item {
        width: 50%;
    }
    #hero {
        height: 40vh;
    }
}

/* iPad Air Vertical */
@media only screen and (min-width: 845px) and (max-width: 1180px) {
    .work-item {
        width: 50%;
    }
    #hero {
        height: 45vh;
    }
}

/* iPad Air Horizontal */
@media only screen and (min-width: 1181px) and (max-width: 1366px) {
    #hero {
        height: 60vh;
    }
}

/* Ordenador portátil */
@media only screen and (min-width: 1367px) and (max-width: 1920px) {
    body {
        font-size: 18px;
    }
    #hero {
        height: 70vh;
    }
}

/* Pantalla grande */
@media only screen and (min-width: 1921px) {
    body {
        font-size: 20px;
    }
    .container {
        max-width: 1800px;
        margin: 0 auto;
    }
    #hero {
        height: 80vh;
    }
}