body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url(fotos/fondo-1400x860.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

header {
    
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right; 
    color:#fff
}


nav li {
    margin-left: 20px;
}

p {
    color: black; 
    font-size: 16px;
    text-align: left; 
}

.highlight {
    color: blue; 
}


.hero button {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: left; 
}

ul {
   list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right;
    

}

li {
    margin-left: 20px;
}

.hero {
   
    padding: 50px;
    text-align: left;
}

.hero h1, .hero h2, h4 {
    font-weight: bold; 
}


.featured-image {
    display: flex;
    align-items:center;
    padding: 2px;
   
}


.featured-image img {
    max-width: 3%;
    
}

.image-details {
    margin-left: 50px;
}



.plans {
   
color: yellow;
font-weight: lighter; 

}
.plans li {
   
    color: rgb(255, 255, 255);
    font-weight: lighter; 
    
    }

.plan-options{
    list-style: none;
    display: flex;
    text-align: left;
    color: #ffffff;
}

.plan-options li {
    margin: 0 10px;
}

.adobe li {
   
    color: rgb(255, 255, 255);
    font-weight: lighter; 
    box-shadow: #1d1d1d;
    
    }

.adobe-options{
    list-style: none;
    display: flex;
    text-align: left;
    color: #ffffff;
}

.adobe-options li {
    margin: 0 10px;
}


.cloud-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.cloud-option {
    width: 30%; 
    text-align: center;
    margin-bottom: 20px;
}

.cloud-option img {
    max-width: 50px;
    margin-bottom: 10px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: left;
}
