

body {
    font-family: Arial, sans-serif;
    background-color: rgb(148, 160, 170);
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #373737;
    font-weight: bold;
}

nav a.active {
    color: #000;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    flex: 1 1 calc(20% - 10px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px; 
    height: 300px; 
    margin: 10px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.gallery:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .gallery {
        flex: 1 1 calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .gallery {
        flex: 1 1 100%;
    }
}
    body {
        padding-left: 20px;
        width: 100%;
        display: block;
    }

    #inicio {
        font-size: 30px;
        padding-top: 500px;
        padding-left: 20px;
        background-size: cover;
    }

    .flex-container {
        flex-direction: column;
        gap: 10px;
    }

    #product, #central {
        font-size: 24px;
    }

    #milista {
        padding-right: 20px;
    }

