body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
    color: #333;
}
header {
display: flex;
justify-content: center;
background-color: #fff;
padding: 10px 0;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
display: flex;
gap: 20px;
}

nav a {
text-decoration: none;
color: #373737;
font-weight: bold;
}

.active {
color: #000000;
}



.gallery-container {
    padding: 20px;
}

.gallery-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    
}

.gallery-item:hover {
    transform: scale(1.05);
    filter: grayscale(50%);
    
}

.gallery-caption {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-size: 1rem;
}

@media (max-width: 768px) {
    body {
        padding-left: 20px;
        width: 100%;
        display: block;
    }

    #inicio {
        font-size: 30px;
        padding-top: 500px;
        padding-left: 20px;
        background-size: cover;
    }

    .flex-container {
        flex-direction: column;
        gap: 10px;
    }

    #product, #central {
        font-size: 24px;
    }

    #milista {
        padding-right: 20px;
    }
}