
img {
    width: 93%;
    height: auto;
    filter: saturate(0);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10;

}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row; 
    gap: 20px; 
} 


a:hover img {
    filter: saturate(2);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color:red;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.galeria-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
    margin-left: 10px;
    margin-right: 10px;
   margin-top: 40px;
   margin-bottom: 20px;
}
.galeria-item:hover img {

    filter: grayscale(0%);
}