body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
  width: 100%;

}
section { 
    background-image: url(fotos/fondo-1400x860.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    padding-top: 0%;
    
}

.arriba  {
    
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-flow: wrap row;
    padding-right: 2%;
    color: #fff;
    
}

.logo {
    padding-left: 10%;
    height: 30px;
    width:5%;
}


ul {
   list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right;
}

