
div {
  box-sizing: border-box;
}
#izquierda {
  background-color: #007bff;
  height: 90vh;
}

#derecha {
  background-color: #b5519b;
  height: 90vh;
}

#superior {
  background-color: #dc3545;
  height: 20vh;
}

#inferior {
  background-color: #159e00;
  height: 80vh;
}

#pie {
  background-color: #c8a7ef;
  height: 20vh;
}


@media (min-width: 768px) {
  
}
